<% user = @tweet.user %>
<%= form_with(model: [@tweet, @tweet.comments.build]) do |form| %>
  <article class="comment mb-4">
    <div class="comment__image-content">
      <% if @tweet.user.avatar.attached? %>
        <%= image_tag avatar, class: "comment__image" %>
      <% else %>
        <%= image_tag "icons/user.svg", class: "comment__image" %>
      <% end %>
    </div>
    <div class="comment__content">
      <div class="comment__area">
        <%= form.text_area :body, placeholder: "Remember to thing before write...", class: "comment__area" %>
      </div>
      <%=errors_for(@tweet, :body)%>
      <div class="comment__submit">
        <%= form.submit "comment", class: "button button--primary button--sm"%>
      </div>
    </div>
  </article>
<% end %>
