<!DOCTYPE html>
<html>
  <head>
    <title>TweetableIndividual</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="header">
      <div class="container navbar">
        <%if user_signed_in?%>
          <%=link_to "Profile", "#", class: "content-r"%>
          <%=button_to "Log Out", destroy_user_session_path, method: :delete, data: { turbo: "false" }, class: "button button--sm button--ghost"%>
        <%else%>
          <%=link_to "Sign in", new_user_session_path%>
        <%end%>
      </div>
    </header>

    
    <main class="section">
      <section class="container">
        <p style="color: green"><%= notice %></p>
        <p style="color: red"><%= alert %></p>
        <%= yield %>
      </section>
    </main>
  </body>
</html>
